/* .triangle {
    width: 0;
    height: 200;
    border: solid 200px;
    border-color:   transparent transparent transparent black;
} */

#main {
    text-align: center;
}

h1{
    padding-left: 3rem;
    font-style: italic;
    color: green;

}

#text{
    padding-top: 1rem;
    padding-left: 20rem;
    padding-right: 20rem;
}


.triangle {
    width: 0;
    height: 0;
    border-top-width: 300px;
    border-top-style: solid;
    border-top-color: transparent;
    border-right-width: 300px;
    border-right-style: solid;
    border-right-color: greenyellow;
    margin-right: auto;
    margin-left: auto;
  }